body, html {
	height: 100%;
  }

.bg {
	background-image: url(https://cdn.pixabay.com/photo/2017/11/14/08/07/glasses-2947708_960_720.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(29, 12, 12, 1);
}


body{
	font-family: roboto;	
	color: rgb(0, 0, 0);
	padding: 5rem;
	text-align: center;

}

.column{
	column-count : 1;
	column-width :100%;
	column-gap : 10%;	
	column-span :all;	
	align-items: center;
}